<div class="main-container col1-layout">
    <div class="main" style="background-color: #ffffff; padding: 8px 16px;">
        <div class="page-empty-banner col-lg-12 col-md-12 col-sm-12">
            <div style="text-align: center;">&nbsp;</div>
            <div class="col-main">
                <p style="margin-bottom: 0.11in;" align="center"><span style="font-family: Times New Roman,serif;"><span style="font-size: x-large;"><strong>CHÍNH SÁCH BẢO MẬT THÔNG TIN CÁ NHÂN CỦA KHÁCH HÀNG</strong></span></span></p>
                <p>
                    TTP SELLS BOOKS mong muốn đem lại một tiện ích mua hàng trực tuyến
                    tin cậy, tiết kiệm và thấu hiểu người dùng. Chúng
                    tôi nhận thấy khách hàng sử dụng website TTP SELLS BOOKS.com
                    để mua sắm nhưng không phải ai cũng mong muốn chia sẻ thông
                    tin cá nhân của mình. Chúng tôi,
                    Công ty TTP SELLS BOOKS, tôn trọng quyền riêng tư của
                    khách hàng và cam kết bảo mật thông tin
                    cá nhân của khách hàng khi khách
                    hàng tin vào chúng tôi cung cấp thông
                    tin cá nhân của khách hàng cho chúng
                    tôi khi mua sắm tại website TTP SELLS BOOKS.com. Đây là
                    nguyên tắc khi tiếp cận quyền riêng tư, thông tin
                    cá nhân tại website TTP SELLS BOOKS.com.
                </p>
                <p>
                    Chính Sách Bảo Mật Thông Tin Cá Nhân
                    này bao gồm các nội dung:
                </p>
                <p>1. Sự Chấp Thuận</p>
                <p>2. Mục Đích Thu Thập</p>
                <p>3. Phạm Vi Thu Thập</p>
                <p>4. Thời Gian Lưu Trữ</p>
                <p>5. Không Chia Sẻ Thông Tin Cá Nhân Khách Hàng</p>
                <p>6. An Toàn Dữ Liệu</p>
                <p>7. Quyền Của Khách Hàng Đối Với Thông Tin Cá Nhân</p>
                <p>8. Thông Tin Liên Hệ</p>
                <p>9. Đơn Vị Thu Thập và Quản Lý Thông Tin</p>
                <p>10. Hiệu lực</p>
                <p>&nbsp;</p>
                <p><strong>1. Sự Chấp Thuận</strong>
                <p>
                    Bằng việc trao cho chúng tôi thông tin cá
                    nhân của bạn, TTP SELLS BOOKS đồng ý rằng thông tin cá
                    nhân của bạn sẽ được thu thập, sử dụng như được nêu trong
                    Chính Sách này. Nếu bạn không đồng ý
                    với Chính Sách này, bạn dừng cung cấp cho
                    chúng tôi bất cứ thông tin cá nhân
                    nào và/hoặc sử dụng các quyền như được nêu tại Mục 7 dưới đây. Chúng tôi bảo lưu quyền sửa đổi, bổ sung nhằm hoàn thiện đối với Chính Sách này vào bất kỳ thời điểm nào. Chúng tôi khuyến khích bạn thường xuyên xem lại Chính Sách Bảo Mật Thông Tin Cá Nhân này để có được những cập nhật mới nhất đảm bảo bạn biết và thực hiện quyền quản lý thông tin cá nhân của bạn.
                </p>
                <p>
                    <strong>2. Mục Đích Thu Thập</strong>
                </p>
                <p>
                    Chúng tôi thu thập thông tin cá nhân chỉ
                    cần thiết nhằm phục vụ cho các mục đích:
                </p>
                <ul>
                    <li>
                        <p>
                            Đơn Hàng: để xử lý các vấn đề liên quan đến đơn đặt hàng của bạn;
                        </p>
                    </li>
                    <li>
                        <p>
                            Duy Trì Tài Khoản: để tạo và duy
                            trình tài khoản của bạn với chúng
                            tôi, bao gồm cả các chương trình
                            khách hàng thân thiết hoặc các chương
                            trình thưởng đi kèm với tài khoản của bạn;
                        </p>
                    </li>
                    <li>
                        <p>
                            Dịch Vụ Người Tiêu Dùng, Dịch Vụ Chăm Sóc
                            Khách Hàng: bao gồm các phản hồi cho
                            các yêu cầu, khiếu nại và phản hồi của bạn;
                        </p>
                    </li>
                    <li>
                        <p>
                            Cá Nhân Hóa: Chúng tôi có
                            thể tổ hợp dữ liệu được thu thập để có một cái
                            nhìn hoàn chỉnh hơn về một người tiêu
                            dùng và từ đó cho phép chúng
                            tôi phục vụ tốt hơn với sự cá nhân hóa
                            mạnh hơn ở các khía cạnh, bao gồm nhưng
                            không giới hạn: (i) để cải thiện và cá
                            nhân hóa trải nghiệm của bạn trên TTP SELLS BOOKS.com
                            (ii) để cải thiện các tiện ích, dịch vụ, điều
                            chỉnh chúng phù hợp với các nhu cầu được
                            cá thể hóa và đi đến những ý tưởng
                            dịch vụ mới (iii) để phục vụ bạn với những giới thiệu, quảng
                            cáo được điều chỉnh phù hợp với sự quan tâm
                            của bạn.
                        </p>
                    </li>
                    <li>
                        <p>
                            An Ninh: cho các mục đích ngăn ngừa các hoạt
                            động phá hủy tài khoản người dùng của
                            khách hàng hoặc các hoạt động giả mạo
                            khách hàng.
                        </p>
                    </li>
                    <li>
                        <p>
                            Theo yêu cầu của pháp luật: tùy quy định của
                            pháp luật vào từng thời điểm, chúng
                            tôi có thể thu thập, lưu trữ và cung cấp
                            theo yêu cầu của cơ quan nhà nước có thẩm
                            quyền.
                        </p>
                    </li>
                </ul>
                <p>
                    <strong>3. Phạm Vi Thu Thập</strong>
                </p>
                <p>
                    Chúng tôi thu thập thông tin cá nhân của bạn khi:
                </p>
                <ul>
                    <li>
                        <p>Bạn trực tiếp cung cấp cho chúng tôi.</p>
                    </li>
                </ul>
                <p>
                    Đó là các thông tin cá nhân bạn
                    cung cấp cho chúng tôi được thực hiện chủ yếu trên
                    website TTP SELLS BOOKS.com bao gồm: họ tên, địa chỉ thư điện tử (email),
                    số điện thoại, địa chỉ, thông tin đăng nhập tài khoản bao
                    gồm thông tin bất kỳ cần thiết để thiết lập tài khoản
                    ví dụ như tên đăng nhập, mật khẩu đăng nhập, ID/địa chỉ
                    đăng nhập và câu hỏi/trả lời an ninh.
                </p>
                <ul>
                    <li>
                        <p>Bạn tương tác với chúng tôi.</p>
                    </li>
                </ul>
                <p>
                    Chúng tôi sử dụng cookies và công nghệ theo dấu
                    khác để thu thập một số thông tin khi bạn tương tác
                    trên website TTP SELLS BOOKS.com.
                </p>
                <ul>
                    <li>
                        <p>Từ những nguồn hợp pháp khác.</p>
                    </li>
                </ul>
                <p>
                    Chúng tôi có thể sẽ thu thập thông tin
                    cá nhân từ các nguồn hợp pháp khác.
                </p>
                <p>
                    <strong>4. Thời Gian Lưu Trữ</strong>
                </p>
                <p>
                    Thông tin cá nhân của khách hàng sẽ được
                    lưu trữ cho đến khi khách hàng có yêu cầu hủy
                    bỏ hoặc khách hàng tự đăng nhập và thực hiện hủy
                    bỏ. Trong mọi trường hợp thông tin cá nhân của
                    khách hàng sẽ được
                </p>
                <p><a name="_GoBack"></a> bảo mật trên máy chủ của TTP SELLS BOOKS.</p>
                <p>
                    <strong>5. Không Chia Sẻ Thông Tin Cá Nhân Khách Hàng</strong>
                </p>
                <p>
                    Chúng tôi sẽ không cung cấp thông tin cá
                    nhân của bạn cho bất kỳ bên thứ ba nào, trừ một số
                    hoạt động cần thiết dưới đây:
                </p>
                <ul>
                    <li>
                        <p>
                            Các đối tác là bên cung cấp dịch vụ
                            cho chúng tôi liên quan đến thực hiện đơn
                            hàng và chỉ giới hạn trong phạm vi thông tin
                            cần thiết cũng như áp dụng các quy định đảm bảo an
                            ninh, bảo mật các thông tin cá nhân.
                        </p>
                    </li>
                    <li>
                        <p>
                            Chúng tôi có thể sử dụng dịch vụ từ một
                            nhà cung cấp dịch vụ là bên thứ ba để thực
                            hiện một số hoạt động liên quan đến website TTP SELLS BOOKS.com
                            và khi đó bên thứ ba này có
                            thể truy cập hoặc xử lý các thông tin
                            cá nhân trong quá trình cung cấp
                            các dịch vụ đó. Chúng tôi yêu
                            cầu các bên thứ ba này tuân thủ mọi
                            luật lệ về bảo vệ thông tin cá nhân
                            liên quan và các yêu cầu về an ninh
                            liên quan đến thông tin cá nhân.
                        </p>
                    </li>
                    <li>
                        <p>
                            Các chương trình có tính liên
                            kết, đồng thực hiện, thuê ngoài cho các mục
                            địch được nêu tại Mục 2 và luôn áp
                            dụng các yêu cầu bảo mật thông tin cá
                            nhân.
                        </p>
                    </li>
                    <li>
                        <p>
                            Yêu cầu pháp lý: Chúng tôi
                            có thể tiết lộ các thông tin cá
                            nhân nếu điều đó do luật pháp yêu cầu
                            và việc tiết lộ như vậy là cần thiết một
                            cách hợp lý để tuân thủ các quy
                            trình pháp lý.
                        </p>
                    </li>
                    <li>
                        <p>
                            Chuyển giao kinh doanh (nếu có): trong trường hợp
                            sáp nhập, hợp nhất toàn bộ hoặc một phần với
                            công ty khác, người mua sẽ có quyền truy cập
                            thông tin được chúng tôi lưu trữ, duy
                            trì trong đó bao gồm cả thông tin cá
                            nhân.
                        </p>
                    </li>
                </ul>
                <p>
                    <strong>6. An Toàn Dữ Liệu</strong>
                </p>
                <p>
                    Chúng tôi luôn nỗ lực để giữ an toàn
                    thông tin cá nhân của khách hàng,
                    chúng tôi đã và đang thực hiện nhiều biện
                    pháp an toàn, bao gồm:
                </p>
                <ul>
                    <li>
                        <p>
                            Bảo đảm an toàn trong môi trường vận hành:
                            chúng tôi lưu trữ không tin cá
                            nhân khách hàng trong môi trường vận
                            hành an toàn và chỉ có nhân
                            viên, đại diện và nhà cung cấp dịch vụ
                            có thể truy cập trên cơ sở cần phải biết.
                            Chúng tôi tuân theo các tiêu
                            chuẩn ngành, pháp luật trong việc bảo mật
                            thông tin cá nhân khách hàng.
                        </p>
                    </li>
                    <li>
                        <p>
                            Trong trường hợp máy chủ lưu trữ thông tin bị hacker
                            tấn công dẫn đến mất mát dữ liệu cá
                            nhân khách hàng, chúng tôi sẽ
                            có trách nhiệm thông báo vụ việc cho
                            cơ quan chức năng để điều tra xử lý kịp thời và
                            thông báo cho khách hàng được biết.
                        </p>
                    </li>
                    <li>
                        <p>
                            Các thông tin thanh toán: được bảo mật theo
                            tiêu chuẩn ngành.
                        </p>
                    </li>
                </ul>
                <p>
                    <strong>7. Quyền Của Khách Hàng Đối Với Thông Tin Cá Nhân</strong>
                </p>
                <p>
                    Khách hàng có quyền cung cấp thông tin
                    cá nhân cho chúng tôi và có thể
                    thay đổi quyết định đó vào bất cứ lúc nào.
                    Khách hàng có quyền tự kiểm tra, cập nhật, điều
                    chỉnh thông tin cá nhân của mình bằng
                    cách đăng nhập vào tài khoản và chỉnh sửa
                    thông tin cá nhân hoặc yêu cầu chúng
                    tôi thực hiện việc này.
                </p>
                <p>
                    <strong>8. Thông Tin Liên Hệ</strong> 
                </p>
                <p>
                    Nếu bạn có câu hỏi hoặc bất kỳ thắc mắc nào về
                    Chính Sách này hoặc thực tế việc thu thập, quản
                    lý thông tin cá nhân của chúng
                    tôi, xin vui
                </p>
                <p>
                    lòng liên hệ với chúng tôi bằng cách:
                </p>
                <p>Gọi điện thoại đến hotline: 0333678403</p>
                <p>Gửi thư điện tử đến địa chỉ email: hahuythang159@gmail.com</p>
                <p>
                    <strong>9. Đơn Vị Thu Thập và Quản Lý Thông Tin</strong>

                </p>
                <p>
                    Công ty Cổ phần Phát Hành Sách TP HCM - TTP SELLS BOOKS
                </p>
                <p>
                    Thành lập và hoạt động vào tháng 5 năm 2024
                </p>
                <p>
                    Trụ sở chính: Đại Học Hutech Khu E, VQ4P+249, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh
                </p>
                <p>
                    Địa chỉ liên hệ: Chung cư C2, Man thiện, Phường Hiệp phú, Quận 9, Thành phố Hồ Chí Minh
                </p>
                <p>
                    <strong>
                        10. Hiệu lực Chính Sách Bảo Mật Thông Tin Cá Nhân này có hiệu lực từ ngày
                    </strong><strong> 17/05/2024.</strong>
                </p>
                <p>
                    <strong>
                        ĐẠI DIỆN CÔNG TY CỔ PHẦN PHÁT HÀNH
                        SÁCH TP HCM – TTP SELLS BOOKS.
                    </strong>
                </p>
            </div>
        </div>
    </div>
</div>