<div class="container-inner">
    <div class="tabs-prod">
        <div class="tab-content">
			<div class="m-pad-bottom-20" style="text-align: center; margin-top: 20px;"><img src="~/images/fh2-khachsi.png" /></div>
            <p><span style="font-size: medium;">Hiện nay, do mức chiết khấu trên TTPSELLSBOOKS rất cao, đặc biệt vào các thời điểm chạy chương trình. Do đó đối với mỗi chương trình số lượng sản phẩm giảm sốc có giới hạn nhất định, vì vậy để đảm bảo quyền lợi của từng khách hàng, chúng tôi xin thông báo tiêu chí xét “Đơn Hàng Sỉ” và chính sách như sau:</span></p>
            <br><span style="font-size: medium;"> <strong>1. </strong>Đơn hàng được gọi là “đơn hàng sỉ” khi đơn hàng có giá trị: từ <strong>3.000.000</strong> đồng (Ba triệu đồng) trở lên.</span><br>

            <ul>
            </ul>
            <span style="font-size: medium;"> <strong>2. </strong>Chính sách giá (% chiết khấu giảm giá). Đây là chính sách chung chỉ mang tính tương đối. Xin quý khách vui lòng liên lạc với TTPSELLSBOOKS để có chính sách giá chính xác nhất: </span><br>
            <ul>
                <li><span style="font-size: medium;">- Đối với Nhóm hàng sách <strong>kinh tế, <strong><strong>Văn học</strong></strong>: </strong>áp dụng mức giảm giá trên web tối đa không vượt quá 30%.</span></li>
            </ul>
            <ul>
                <li><span style="font-size: medium;">- Đối với Nhóm hàng sách <strong>thiếu nhi và tâm lý kỹ năng: </strong>áp dụng mức giảm giá trên web tối đa không vượt quá 20%.</span></li>
            </ul>
            <ul>
                <li><span style="font-size: medium;">- Đối với Nhóm hàng sách <strong>từ điển và sách ngoại văn : </strong>áp dụng mức giảm giá trên web tối đa không vượt quá 10%.</span></li>
            </ul>
            <ul>
                <li><span style="font-size: medium;">- Đối với Nhóm hàng <strong>văn phòng phẩm, đồ chơi, dụng cụ học sinh</strong>: áp dụng mức giảm giá trên web tối đa không vượt quá 15%.</span></li>
            </ul>
            <ul>
                <li><span style="font-size: medium;">- Đối với Nhóm hàng <strong>giấy photo, sản phẩm điện tử, văn hóa phẩm</strong>: áp dụng mức giảm giá trên web tối đa không vượt quá 5%.</span></li>
            </ul>
            <br><span style="font-size: medium;"> Quý khách có nhu cầu mua sỉ, vui lòng liên hệ phòng kinh doanh TTPSELLSBOOKS: 03333 678 403 hoặc Email: <a href="mailto:hahuythang159@gmail.com">hahuythang159@gmail.com</a>.</span>
        </div>
    </div>
</div>