<div class="container">
    <div class="container-inner">
        <style>
            .p_level_one {
                font-weight: bold;
                color: #2F80ED;
                font-family: Arial, Helvetica, sans-serif;
                font-size: medium;
                text-decoration: underline;
            }

            .p_level_two {
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
                font-size: medium;
                text-decoration: underline;
            }

            .p_level_three {
                font-family: Arial, Helvetica, sans-serif;
                font-size: medium;
            }
        </style>
        <div class="tabs-prod">
            <div class="main-container col1-layout" style="text-align: justify;">
                <div class="main main-page-text " style="background-color: #ffffff; padding: 20px;">
                    <div class="page-empty-banner col-lg-12 col-md-12 col-sm-12">
                        <div class="col-main">
                            <p class="p_level_one">I.&nbsp;PHƯƠNG THỨC THANH TOÁN</p>
                            <p class="p_level_two">
                                A. THANH TOÁN BẰNG VÍ ZALOPAY; THẺ QUỐC TẾ VISA, MASTER, JBC; ATM NỘI ĐỊA/INTERNET BANKING THÔNG QUA ZALOPAY
                            </p>
                            <p>
                                <span style="font-size: medium;">
                                    <strong>BƯỚC 1</strong>: Chọn phương thức <strong>Thanh toán bằng thẻ ATM nội địa/ Internet Banking/ Visa/Master/JCB/ ZaloPay</strong>
                                </span>
                            </p>

                            <p><span style="font-size: medium;">&nbsp;<img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/zalopay_checkbox.png" alt=""></span></p>
                            <p>
                                <span style="font-size: medium;">
                                    <strong>BƯỚC 2</strong>: Sau khi
                                    thực hiện <strong>Xác nhận đơn hàng</strong> bạn sẽ được chuyển tự động đến trang thanh toán của ZaloPay.
                                </span>
                            </p>
                            <p style="text-align: center;"><span style="font-size: medium;"><img style="width: 70%" src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/zalopay_chooseBank.png" alt=""></span></p>
                            <p>
                                <span style="font-size: medium;">
                                    <strong>BƯỚC 3</strong>: Chọn 01 trong 03 loại thẻ để tiến hành thanh toán như sau:
                                </span>
                            </p>
                            <ul>
                                <li>
                                    <span style="font-size: medium;">
                                        Thanh toán bằng<strong> Ví ZaloPay:
                                        </strong>
                                    </span>
                                    <ul>
                                        <li>
                                            <span>
                                                Bạn có thể tải và đăng ký tài khoản ZaloPay với tài khoản Zalo tại
                                                <span style="text-decoration: underline; color: #0000ff;"><a href="https://zalopay.vn/"><span style="color: #0000ff; text-decoration: underline;">đây</span></a></span>&nbsp;để
                                                thực hiện thanh toán.
                                            </span>

                                            <p align="center"><span style="font-size: medium;"><img src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/zalopay_chooseBank_zalo.png" alt="" style="width: 70%"></span></p>
                                        </li>
                                        <li>
                                            <p>
                                                <span style="font-size: medium;">
                                                    Mở ứng dụng ZaloPay trên điện thoại để quét mã QR để thực hiện thanh toán theo hướng dẫn
                                                </span>
                                            </p>
                                            <p align="center"><span style="font-size: medium;"><img style="width: 70%" src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/zalopay_scanqr.png" alt=""></span></p>
                                        </li>
                                        <br>
                                        <div class="col-xs-12">

                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                                                <p align="center"><span style="font-size: medium;"><img src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/zalopay_paymentqr_mobile.png" alt="" style="width: 90%"></span></p>

                                                <div style="text-align: center">
                                                    <span style="font-size: medium;">
                                                        Scan mã QR hiển thị trên website để thực hiện thanh toán.
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <p align="center"><span style="font-size: medium;"><img style="width: 90%" src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/zalopay_confirmpayment_mobile.png" alt=""></span></p>
                                                <div style="text-align: center">
                                                    <span>Chọn Xác Nhận Thanh Toán</span>

                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <p align="center"><span style="font-size: medium;"><img style="width: 90%" src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/zalopay_paymentsuccess_mobile.png" alt=""></span></p>
                                                <div style="text-align: center">
                                                    <span>Thanh toán thành công</span>

                                                </div>
                                            </div>
                                        </div>

                                    </ul>
                                </li>


                                <li>
                                    <span style="font-size: medium;">
                                        Thanh toán bằng<strong>
                                            Thẻ VISA, Master, JCB
                                        </strong>
                                    </span>
                                    <p align="center"><span style="font-size: medium;"><img style="width: 70%" src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/zalopay_chooseBank_visa.png" alt=""></span></p>
                                    <ul>
                                        <li>
                                            <p>&nbsp;Điền thông tin theo hướng dẫn :</p>
                                            <ul>
                                                <li>
                                                    <span style="font-size: medium;">
                                                        Số thẻ
                                                    </span>
                                                </li>
                                                <li><span style="font-size: medium;">Tên chủ thẻ</span></li>

                                                <li>
                                                    <span style="font-size: medium;">
                                                        Ngày hết hạn
                                                    </span>
                                                </li>
                                                <li><span style="font-size: medium;">Mã CVV/CVC2</span></li>
                                            </ul>
                                            <p align="center"><span style="font-size: medium;"><img style="width: 70%" src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/zalopay_paymentcc.png" alt=""></span></p>
                                        </li>
                                        <li>
                                            <p>
                                                <span style="font-size: medium;">
                                                    Chọn ô <strong>
                                                        Thanh Toán
                                                    </strong> để hoàn tất việc thanh toán.
                                                </span>
                                            </p>

                                            <p align="center"><span style="font-size: medium;"><img style="width: 70%" src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/zalopay_paymentsuccess.jpg" alt=""></span></p>
                                        </li>

                                    </ul>
                                </li>

                                <p><span style="font-size: medium;">&nbsp;</span></p>
                                <ul>
                                    <li>
                                        <span style="font-size: medium;">
                                            Thanh toán bằng<strong>
                                                Thẻ ATM nội địa&nbsp;
                                            </strong>
                                        </span>
                                    </li>
                                    <p align="center"><span style="font-size: medium;"><img style="width: 70%" src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/zalopay_chooseBank_atm.png" alt=""></span></p>
                                    <li>
                                        <span>&nbsp;Điền thông tin theo hướng dẫn :</span>
                                        <ul>
                                            <li>
                                                <span style="font-size: medium;">
                                                    Số thẻ
                                                </span>
                                            </li>
                                            <li><span style="font-size: medium;">Tên chủ thẻ</span></li>
                                            <li><span style="font-size: medium;">Ngày hết hạn</span></li>
                                        </ul>
                                        <p align="center"><span style="font-size: medium;"><img style="width: 70%" src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/zalopay_inputinfor_atm.png" alt=""></span></p>
                                    </li>
                                    <li>
                                        <span style="font-size: medium;">
                                            Chọn ô <strong>
                                                Thanh Toán
                                            </strong> để hoàn tất việc thanh toán.
                                        </span>
                                        <p align="center"><span style="font-size: medium;"><img style="width: 70%" src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/zalopay_paymentsuccess.jpg" alt=""></span></p>
                                    </li>


                                </ul>

                                <p><span style="font-size: medium;">&nbsp;</span></p>


                                <p class="p_level_two">
                                    B. THANH TOÁN CHUYỂN KHOẢN QUA NGÂN HÀNG.
                                </p>
                                <p align="center">
                                    <span style="font-size: medium;">
                                        <img src="https://cdn0.fahasa.com/media/wysiwyg/imghuongdan/line-tt.gif" alt="">
                                    </span>
                                </p>
                                <p align="center"><span style="font-size: medium;"><img style="display: block; margin-left: auto; margin-right: auto; box-shadow: none;" src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/huong-dan-32.jpg" alt=""></span></p>
                                <p align="justify">
                                    <span style="font-size: medium;">
                                        Sau khi hoàn tất đặt hàng tại bước xác nhận đơn hàng, bạn vui lòng chuyển tiền vào tài khoản của chúng tôi theo thông tin sau:
                                    </span>
                                </p>
                                <p>
                                    <br><span style="font-size: medium;"> <strong>Ngân hàng: Vietinbank - CN1 Thành phố Hồ Chí Minh</strong></span><br><span style="font-size: medium;">
                                        <strong>
                                            Tên tài khoản: HA HUY CHIEN THANG
                                        </strong>
                                    </span><br><span style="font-size: medium;">
                                        <strong>Số tài khoản: 112000005263</strong>
                                    </span>
                                </p>
                                <p><br><span style="font-size: medium;"> <strong>Chú ý:</strong></span></p>
                                <ul>
                                    <li>
                                        <div align="justify">
                                            <span style="font-size: medium;">
                                                Khi chuyển
                                                tiền, vui lòng ghi rõ Mã số đơn
                                                hàng mà bạn thanh toán vào
                                                phần
                                                ghi chú của lệnh chuyển khoản. Sau đó
                                                email
                                                cho chúng tôi theo địa chỉ <a href="mailto:hahuythang159@gmail.com">hahuythang159@gmail.com</a>
                                                để thông báo việc chuyển tiền và số
                                                tài khoản của bạn để tiện trong việc kiểm tra đồng thời tiến hành giao hàng sớm cho bạn.
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <div align="justify">
                                            <span style="font-size: medium;">
                                                Hoặc bạn
                                                có thể điện thoại cho chúng tôi
                                                theo số
                                                0333 678 403 nếu cần sự hổ trợ
                                            </span>
                                        </div>
                                    </li>
                                    <li>
                                        <div align="justify">
                                            <span style="font-size: medium;">
                                                Bạn vui
                                                lòng thanh toán phí chuyển khoản
                                            </span>
                                        </div>
                                    </li>
                                    <li></li>
                                </ul>
                                <p class="p_level_two">
                                    C. THANH TOÁN BẰNG
                                    TIỀN
                                    MẶT KHI NHẬN HÀNG (COD)
                                </p>
                                <p align="center"><span style="font-size: medium;"><img src="https://cdn0.fahasa.com/media/wysiwyg/imghuongdan/line-tt.gif" alt=""></span></p>
                                <p align="center"><span style="font-size: medium;"><img style="display: block; margin-left: auto; margin-right: auto; box-shadow: none;" src="https://cdn0.fahasa.com/media/wysiwyg/huongdan/huong-dan-34.jpg" alt=""></span></p>
                                <p>
                                    <span style="font-size: medium;">
                                        <strong>
                                            1.Đối với TP.HCM ( ngoại
                                            trừ:
                                            Bình Chánh, Hóc Môn, Củ Chi, Cần
                                            Giờ
                                            )
                                        </strong>
                                    </span>
                                </p>
                                <p align="justify">
                                    <span style="font-size: medium;">
                                        - Nhân
                                        viên
                                        giao hàng sẽ liên lạc trước với bạn để thông
                                        báo giao hàng.Trường hợp bạn đi vắng vui
                                        lòng
                                        ủy thác cho người khác thanh toánvà
                                        nhận thay. Bạn vui lòng ký nhận hàng
                                        và
                                        thanh toán tiền theo giá trị ghi trên phiếu
                                        giao hàng và hóa đơn VAT đính
                                        kèm.<strong>
                                            <em>
                                                <span style="text-decoration: underline;">
                                                    Bạn
                                                    không phải trả thêm một khoản
                                                    phí
                                                    nào khác
                                                </span>
                                            </em>
                                        </strong>
                                    </span>
                                </p>
                                <p>
                                    <span style="font-size: medium;">
                                        <strong>
                                            2. Đối với các Huyện
                                            Bình Chánh, Hóc Môn, Củ Chi, Cần
                                            Giờ
                                            và các tỉnh thành khác
                                        </strong><span style="text-decoration: underline;">
                                            với điều kiện địa chỉ
                                            thanh
                                            toán cũng là địa chỉ giao hàng:
                                        </span>
                                    </span>
                                </p>
                                <p align="justify">
                                    <span style="font-size: medium;">
                                        - Nhân
                                        viên
                                        bưu điện địa phương sẽ đến địa chỉ bạn đăng ký để thu
                                        tiền
                                        và giao hàng.Trường hợp bạn đi vắng vui
                                        lòng
                                        ủy thác cho người khác thanh toán
                                        và
                                        nhận hàng thay.<span style="text-decoration: underline;">
                                            Trường
                                            hợp không có người nhận, bưu điện sẽ để lại
                                            lời
                                            nhắn mời bạn đến bưu điện để nhận hàng.
                                        </span>
                                    </span>
                                </p>
                            </ul>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>