@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<div class="card shadow border-0 mt-4 mb-5">
    <div class="card-body p-4">
        <div class="row pt-3">
            <div class="col-md-12">
                <h3 class="border-bottom pb-3 mb-4 text-secondary text-center">Register with @Model.ProviderDisplayName</h3>
                <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating mb-3 col-md-12">
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Please enter your email." />
                        <label asp-for="Input.Email" class="form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.Name" class="form-control" autocomplete="email" placeholder="Please enter your name." />
                        <label asp-for="Input.Name" class="form-label"></label>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="email" placeholder="Please enter your phone number." />
                        <label asp-for="Input.PhoneNumber" class="form-label"></label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.StreetAddress" class="form-control" autocomplete="email" placeholder="Please enter your street address." />
                        <label asp-for="Input.StreetAddress" class="form-label"></label>
                        <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.City" class="form-control" autocomplete="email" placeholder="Please enter your city." />
                        <label asp-for="Input.City" class="form-label"></label>
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.State" class="form-control" autocomplete="email" placeholder="Please enter your state." />
                        <label asp-for="Input.State" class="form-label"></label>
                        <span asp-validation-for="Input.State" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.PostalCode" class="form-control" autocomplete="email" placeholder="Please enter your postal code." />
                        <label asp-for="Input.PostalCode" class="form-label"></label>
                        <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                    </div>

                    <div class="col-md-12">
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
